WCF_elso_kliens/Connected Services/ServiceReference1/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_elso_sever" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_elso_sever" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Eloado">
    <xs:sequence>
      <xs:element minOccurs="0" name="eloadoAz" type="xs:int" />
      <xs:element minOccurs="0" name="eloadoName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Eloado" nillable="true" type="tns:Eloado" />
  <xs:complexType name="Zeneszam">
    <xs:sequence>
      <xs:element minOccurs="0" name="ZeneszamAz" type="xs:int" />
      <xs:element minOccurs="0" name="ZeneszamCim" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZeneszamHossz" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Zeneszam" nillable="true" type="tns:Zeneszam" />
  <xs:complexType name="CD">
    <xs:sequence>
      <xs:element minOccurs="0" name="CdAz" type="xs:int" />
      <xs:element minOccurs="0" name="CdCim" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Kiado" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CD" nillable="true" type="tns:CD" />
</xs:schema>