WCF_elso_host/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63563/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63563/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63563/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_elso_sever" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetEloado_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEloado" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEloado_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEloadoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEloadoName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEloadoName" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEloadoName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEloadoNameResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetZeneszam_InputMessage">
    <wsdl:part name="parameters" element="tns:GetZeneszam" />
  </wsdl:message>
  <wsdl:message name="IService1_GetZeneszam_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetZeneszamResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCD_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCD" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCD_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCDResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetEloado">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetEloado" message="tns:IService1_GetEloado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetEloadoResponse" message="tns:IService1_GetEloado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEloadoName">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetEloadoName" message="tns:IService1_GetEloadoName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetEloadoNameResponse" message="tns:IService1_GetEloadoName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetZeneszam">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetZeneszam" message="tns:IService1_GetZeneszam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetZeneszamResponse" message="tns:IService1_GetZeneszam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCD">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCD" message="tns:IService1_GetCD_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCDResponse" message="tns:IService1_GetCD_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="Service1" />
</wsdl:definitions>